body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-weight: 600;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.card img {
  height: 300px;
  object-fit: cover;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #F54927;
  color: white;
  width: 100%;
  margin-top: auto;
  padding: 15px 0;
}

.btn-primary {
  background-color: #9E6A60;
  border: none;
}

.btn-primary:hover {
  background-color: #e65c00;
}
